:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --verylight-gray: hsl(0, 0%, 98%);
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* --- Typography --- */

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.5rem;
  position: relative;
}

:is(.header, .block__header, .features, .article__header, ) {
  font-weight: 400;
  color: var(--dark-blue);
  text-shadow: 0 0 black;
}

.header {
  font-size: 3.8rem;
  margin: 2rem 0;
}

.block__header {
  font-size: 3.2rem;
  margin: 1.5rem 0;
}

.features {
  font-size: 2rem;
  margin: 2.5rem 0;
}

.article__header {
  font-size: 1.6rem;
  margin: 0.7rem;
}

p {
  line-height: 1.6;
  color: var(--grayish-blue);
  text-shadow: 0 0 var(--grayish-blue);
}

@media screen and (min-width: 1440px) {
  .header {
    font-size: 6rem;
  }

  .block__header {
    font-size: 4rem;
  }

  .features {
    font-size: 2.5rem;
  }

  .article__header {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.8rem;
  }
}

/* --- Hero --- */

.hero {
  background: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% -23%;
  text-align: center;
  padding: 0 3rem 10rem;
}

.phones img {
  transform: scale(1.1) translateY(-25%);
}

.hero__text {
  margin-top: -20%;
}

.hero .btn {
  margin-top: 3rem;
}

.hero p {
  font-size: 1.4rem;
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: none;
    padding: 0 0 0 18rem;
    display: flex;
    align-items: center;
    margin-bottom: -16%;
    overflow: hidden;
  }

  .phones {
    transform: translatex(7rem);
    order: 2;
    background-image: url(/images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: -7rem -25rem;
  }

  .phones img {
    transform: scale(1) translate(16%, -13%);
  }

  .hero__text {
    margin: 0;
    text-align: left;
    max-width: 38%;
    margin-top: -20%;
  }

  .hero p {
    font-size: 2rem;
  }

  .hero .btn {
    font-size: 1.8rem;
    padding: 1.6rem 4rem;
  }
}

/* --- Block Features --- */

.block-feats {
  padding: 7rem 3rem;
  text-align: center;
  background: var(--verylight-gray);
}

.text-container {
  margin-bottom: 5rem;
}

.media-obj {
  margin: 5rem 0;
}

.icon {
  width: 8rem;
  margin: auto;
}

@media screen and (min-width: 1440px) {
  .block-feats {
    padding: 7rem 18rem;
    text-align: left;
  }

  .text-container {
    width: 60%;
  }

  .feats-container {
    display: flex;
    gap: 5rem;
  }

  .icon {
    margin: 0 0 4rem 0;
  }
}

/* --- buttons --- */

.btn {
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  color: white;
  border: 0;
  border-radius: 6rem;
  padding: 1.3rem 3rem;
  font-size: 1.5rem;
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(to right, rgb(102, 250, 122), rgb(99, 220, 250));
}

/* --- Nav --- */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background: white;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
}

.hamburger {
  cursor: pointer;
  width: 3rem;
}

.nav__links {
  display: none;
}

.nav .btn {
  display: none;
}

.close {
  display: none;
}

@media screen and (min-width: 1440px) {
  .nav {
    padding: 3rem 18rem;
  }

  .logo {
    width: 16rem;
  }

  .nav__links {
    display: block;
  }

  .nav .btn {
    display: block;
  }

  .hamburger {
    display: none;
  }
}

/* --- Lists --- */

.nav__list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.list__item a {
  color: var(--grayish-blue);
  text-decoration: none;
  text-shadow: 0 0 black;
}

.list__item a:hover {
  color: var(--lime-green);
}

/* --- Attribution --- */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.test {
  background-color: lightgray;
  height: 50vh;
}
