:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --verylight-gray: hsl(0, 0%, 98%);
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/* --- Typography --- */

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
}

:is(.header, .block__header, .features, .article__header) {
  font-weight: 400;
  color: var(--dark-blue);
  text-shadow: 0 0 black;
}

.header {
  font-size: 3.2rem;
  margin: 2rem 0;
}

.block__header {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.features {
  font-size: 2rem;
  margin: 2.5rem 0;
}

.article__header {
  font-size: 1.6rem;
  margin: 0.7rem;
}

p {
  line-height: 1.6;
  color: var(--grayish-blue);
}

@media screen and (min-width: 1440px) {
  .header {
    font-size: 4.5rem;
  }

  .block__header {
    font-size: 3.2rem;
  }

  .features {
    font-size: 2.5rem;
  }

  .article__header {
    font-size: 1.8rem;
  }

  p {
    font-size: 2rem;
  }
}

/* --- Blocks --- */

.block-feats {
  padding: 7rem 3rem;
  text-align: center;
}

/* --- buttons --- */

.btn {
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  color: white;
  border: 0;
  border-radius: 6rem;
  padding: 1.3rem 3rem;
  font-size: 1.5rem;
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(to right, rgb(102, 250, 122), rgb(99, 220, 250));
}

/* --- Nav --- */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}

.hamburger {
  cursor: pointer;
  width: 3rem;
}

.nav__links {
  display: none;
}

.nav .btn {
  display: none;
}

.close {
  display: none;
}

@media screen and (min-width: 1440px) {
  .nav {
    padding: 3rem 18rem;
  }

  .logo {
    width: 16rem;
  }

  .nav__links {
    display: block;
  }

  .nav .btn {
    display: block;
  }

  .hamburger {
    display: none;
  }
}

/* --- Lists --- */

.nav__list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.list__item a {
  color: var(--grayish-blue);
  text-decoration: none;
  text-shadow: 0 0 black;
}

.list__item a:hover {
  color: var(--lime-green);
}

/* --- Attribution --- */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
