<div class="footer">
  <div>
    <div class="logo-white">
      <a href="#"><img src="/images/logo-white.svg" alt="" /></a>
    </div>
    <div class="icons">
      <div class="footer-icon">
        <a href="#"><img src="/images/icon-facebook.svg" alt="" /></a>
      </div>
      <div class="footer-icon">
        <a href="#"><img src="/images/icon-youtube.svg" alt="" /></a>
      </div>
      <div class="footer-icon">
        <a href="#"><img src="/images/icon-twitter.svg" alt="" /></a>
      </div>
      <div class="footer-icon">
        <a href="#"><img src="/images/icon-pinterest.svg" alt="" /></a>
      </div>
      <div class="footer-icon">
        <a href="#"><img src="/images/icon-instagram.svg" alt="" /></a>
      </div>
    </div>
  </div>
  <div class="footer-lists">
    <ul class="footer-list">
      <li class="list__item"><a href="#">About Us</a></li>
      <li class="list__item"><a href="#">Contact</a></li>
      <li class="list__item"><a href="#">Blog</a></li>
    </ul>
    <ul class="footer-list">
      <li class="list__item"><a href="#">Careers</a></li>
      <li class="list__item"><a href="#">Support</a></li>
      <li class="list__item"><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="footer__btn-holder">
    <button class="btn">Request invite</button>
    <p class="copy">&copy; Easybank. All Rights Reserved.</p>
  </div>
</div>
